*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: sans-serif;
    border-top: 10px solid #1098ad;
}
.main-header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    margin-bottom: 60px;
}

aside  {
    background-color: #f7f7f7;
    border: 5px solid #1098ad;
    border-right: none;
    border-left: none;
    padding: 50px 0;
}
h1, h2, h3 {
    color: #1098ad;
}
h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}
h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.code-img {
    width: 80%;
    height: auto;
}
p {
    font-size: 22px;
    line-height: 1.5;
}
footer p {
    font-size: 18px;
}
/*article footer p {
    font-size: 18px;
}*/
#author {
    font-style: italic;
    font-size: 18px;
}
li {
    margin-bottom: 10px;
}
li:last-child {
    margin-bottom: 0;
}
li:first-child {
    font-weight: bold;
}
li:last-child{
    font-style: italic;
}
li:nth-child(2){
    color: orangered;
}
#copyright {
    font-size: 16px;
}
.related-author {
    font-size: 18px;
    font-weight: bold;
}
.related {
    list-style: none;
}


a:link, a:visited{
    color: #1098ad;
    text-decoration: none;
}
a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline dotted orangered;
}
a:active {
    background-color: black;
    font-style: italic;
}
